/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2014, 11:58:45 PM
    Author     : jorge
*/


/* body {
    background: rgb(40, 41, 40);
    color: rgb(160, 160, 160);
    
    font-family: Shift;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: -.03em;
    word-spacing: .15em;
    line-height: 1.4;

    margin: 20;
    padding: 0;
  } */


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
    text-align:center;
    
    background-color: #F2F2F2;
    color: #243131;
    
    width: 100%;
    /* padding: 3em 0 2.5em 0; */
}


p.intro a {
    text-decoration: none;
    color: #9c27b0;
}

p.intro a:hover {
    text-decoration: underline;
}

p.coding a {
    text-decoration: none;
    color: #e91e63;
}

p.coding a:hover {
    text-decoration: underline;
}

p.running a {
    text-decoration: none;
    color: #ff9800;
}

p.running a:hover {
    text-decoration: underline;
}

p.contacts a {
    text-decoration: none;
    color: #2196f3;
}

p.contacts a:hover {
    text-decoration: underline;
}